<component name="ArtifactManager">
  <artifact type="war" name="mybatis-plus-generator-auto:war">
    <output-path>$PROJECT_DIR$/reverse-engineering/mybatis-plus-generator-auto/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>mybatis-plus-generator-auto</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="mybatis-plus-generator-auto-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="mybatis-plus-generator-auto:war exploded" />
    </root>
  </artifact>
</component>